<div class="carousel">
    <div class="slide" style="background-image: url('images/Steve-Jobs.jpg');">
        <div class="caption">"It's all about the design."<br /> Steve Jobs, Apple Inc.</div>
    </div>
    <div class="slide" style="background-image: url('images/einstein.jpg');">
        <div class="caption">"It's all about the users."<br />Albert Einstein, Princeton University</div>
    </div>
    <div class="slide" style="background-image: url('images/eternity.jpg');">
        <div class="caption">"If I were stealing gold, I'd take it down to Mexico!"<br />Rian Garrick, "Edge of Eternity'"</div>
    </div>
    <div class="slide" style="background-image: url('images/Steve-Jobs.jpg');">
        <div class="caption">"Gold? Mexico? Hmmm."<br /> Steve Jobs, Apple Inc.</div>
    </div>
    <div class="slide" style="background-image: url('images/einstein.jpg');">
        <div class="caption">"Yah, Mexico is zee place for zee gold!"<br />Albert Einstein, Princeton University</div>
    </div>
    <div class="slide" style="background-image: url('images/eternity.jpg');">
        <div class="caption">"I'm no Einstein, but I design for real users!"<br />Rian Garrick, "Edge of Eternity'"</div>
    </div>
    <div class="slide" style="">
        <div class="caption">So, now you know...</div>
    </div>
</div>
  
